.edit:hover {
  cursor: pointer;
  color: white;
}
.error {
  color: white;
}
.clickable {
  cursor: pointer;
}

.search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 200px;
}
.card:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  transition: all 0.3s ease;
  border: 2px solid darkcyan;
}
.card {
  transition: all 0.3s ease;
}
